# 🛡️ Auth service
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:4001

# 🧑🏻‍⚕️ Users service
NEXT_PUBLIC_USERS_SERVICE_URL=http://localhost:4002

# 🗓️ Appointments service
NEXT_PUBLIC_APPOINTMENTS_SERVICE_URL=http://localhost:4003

# 💊 Prescriptions service
NEXT_PUBLIC_PRESCRIPTIONS_SERVICE_URL=http://localhost:4004

# 🔔 Notifications service
NEXT_PUBLIC_NOTIFICATIONS_SERVICE_URL=http://localhost:4005

# JWT constants
JWT_SECRET=my-secure-jwt-secret
JWT_TEMP_SECRET=my-temp-jwt-secret
EXPIRES_IN='1d'
TEMP_EXPIRES_IN='1h'
